
  .massageBox {
    font-size: 0.7rem;
  }
  
  .contentItem {
    width: 350px;
    height: 50px;
    margin-bottom: 0.7rem;
    padding-bottom: 0.7rem;
    border-bottom: 2px dashed rgba(73, 73, 73, 0.2);
  }
  
  .contentItemIcon {
    padding: 0.4rem 0.5rem 0.5rem 0.5rem;
    height: 100%;
    aspect-ratio: 1/1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 55%;
  }
  
  .contentItenTxt {
    font-size: 0.9rem;
    font-weight: bold;
  }
  
  
  
  .formAlertBox {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .fade-inB {
    opacity: 1;
  }
  
  
  
  .lngBtn {
    font-weight: bold;
    background-color: gray;
    height: 22px;
    border-radius: 3px 3px 0 0;
    font-size: 0.8rem;
  }
  
  .sOutIcon {
    font-size: 1.2rem;
  
    position: absolute;
    right: 0;
  }
  
  .userImage {
    width: 120px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #63a1ff;
  }
  
  .userFullName {
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  .userInfo {
    width: 300px;
    min-width: 200px;
  }
  
  .linkListContainer {
    height: 300px;
    padding: 1rem;
    min-width: 500px;
    border: rgba(13, 109, 252, 0.1) 2px solid;
    border-radius: 5px;
    box-shadow: 0 0 2px 3px rgba(255, 255, 255, 0.5);
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  @media screen and (max-width: 760px) {
    .linkListContainer {
      width: 100%;
    }
  }
  
  .userSection {
    position: relative;
  }
  
  .userSection:before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image: url("../img/patern.svg");
    background-size: 2%;
  }
  
  .verSep {
    border-left: 2px dotted rgb(170, 170, 170);
    box-shadow: 0 0 1px 2px rgba(255, 255, 255, 0.5);
  }
  
  .horSep {
    border-top: 2px dotted rgb(170, 170, 170);
    box-shadow: 0 0 1px 2px rgba(255, 255, 255, 0.5);
  }
  
  .sepOr {
    font-size: 0.8rem;
    font-weight: bold;
    padding-bottom: 2px;
    width: 22px;
    aspect-ratio: 1/1;
    border: 2px dotted rgb(170, 170, 170);
    border-radius: 50%;
  }
  
  .socialIcons {
    font-size: 1.2rem;
  }
  
  .bg-dark {
    background-color: black !important;
  }
  
  .bg-success {
    background-color: #009736 !important ;
  }
  
  .footerSection {
    font-size: 0.7rem;
    font-weight: lighter;
    color: rgb(163, 163, 163);
  }
  
  .loginWithAccount {
    font-size: 0.7rem;
  }
  
  .signupPane {
    max-width: 600px;
  }
  
  @media screen and (max-width: 760px) {
    .signupPane {
      max-width: 250px;
    }
  }
  
  .contListContainer {
    position: absolute;
    max-height: 300px !important;
    max-width: 300px;
  }
  
  .contList {
    max-height: 243px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 5px;
    padding: 0.5rem;
  }
  
  .signupUserPic {
    color: rgb(226, 226, 226);
    height: 150px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(250, 250, 250, 0.2);
    border: 1px solid gainsboro;
    box-shadow: 0 0 2px 1px rgba(212, 212, 212, 0.2);
  }
  
  .bg-orange {
    background-color: #ff7400;
  }
  .bg-red {
    background-color: #ff0000;
  }
  .bg-yellow {
    background-color: #ffc100;
  }
  
  .formAlertBox {
    text-align: center;
    font-size: 0.8rem;
    height: 1.5rem;
    color: whitesmoke;
    border-radius: 0 0 5px 5px;
  }
  
  .modalHeader {
    font-size: 1rem;
    font-weight: bold;
  }

  
  