
  .massageBox {
    font-size: 0.7rem;
  }
  
  
  
  
  
  .formAlertBox {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .fade-inB {
    opacity: 1;
  }
  
  
  
  .lngBtn {
    font-weight: bold;
    background-color: gray;
    height: 22px;
    border-radius: 3px 3px 0 0;
    font-size: 0.8rem;
  }
  
  
  
  
  
  
  .socialIcons {
    font-size: 1.2rem;
  }
  
  
  
  .footerSection {
    font-size: 0.7rem;
    font-weight: lighter;
    color: rgb(163, 163, 163);
  }
  
  .loginWithAccount {
    font-size: 0.7rem;
  }
  
  .signupPane {
    max-width: 600px;
  }
  
  @media screen and (max-width: 760px) {
    .signupPane {
      max-width: 250px;
    }
  }
  
  .contListContainer {
    position: absolute;
    max-height: 300px !important;
    max-width: 300px;
  }
  
  .contList {
    max-height: 243px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 5px;
    padding: 0.5rem;
  }
  
  .signupUserPic {
    color: rgb(226, 226, 226);
    height: 150px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(250, 250, 250, 0.2);
    border: 1px solid gainsboro;
    box-shadow: 0 0 2px 1px rgba(212, 212, 212, 0.2);
  }
  
  
  
  .formAlertBox {
    text-align: center;
    font-size: 0.8rem;
    height: 1.5rem;
    color: whitesmoke;
    border-radius: 0 0 5px 5px;
  }
  
  .modalHeader {
    font-size: 1rem;
    font-weight: bold;
  }

  
  